<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<title>EatDaBurger.main</title>
</head>

<body>
	<img src="/assets/img/universal-krusty-burger-restaurant-logo-b-e1493066742617.png" width="400px" id="krusty">

	{{{ body }}}

</body>
</html>